<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chapter-vii</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">chapter-vii</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h1>CHAPTER VII.</h1>
  <h2>A Mad Tea-Party</h2>
  <p>
There was a table set out under a tree in front of the house, and the March
Hare and the Hatter were having tea at it: a Dormouse was sitting between them,
fast asleep, and the other two were using it as a cushion, resting their elbows
on it, and talking over its head. &ldquo;Very uncomfortable for the
Dormouse,&rdquo; thought Alice; &ldquo;only, as it&rsquo;s asleep, I suppose it
doesn&rsquo;t mind.&rdquo;
</p>

<p>
The table was a large one, but the three were all crowded together at one
corner of it: &ldquo;No room! No room!&rdquo; they cried out when they saw
Alice coming. &ldquo;There&rsquo;s <i>plenty</i> of room!&rdquo; said Alice
indignantly, and she sat down in a large arm-chair at one end of the table.
</p>

<p>
&ldquo;Have some wine,&rdquo; the March Hare said in an encouraging tone.
</p>

<p>
Alice looked all round the table, but there was nothing on it but tea. &ldquo;I
don&rsquo;t see any wine,&rdquo; she remarked.
</p>

<p>
&ldquo;There isn&rsquo;t any,&rdquo; said the March Hare.
</p>

<p>
&ldquo;Then it wasn&rsquo;t very civil of you to offer it,&rdquo; said Alice
angrily.
</p>

<p>
&ldquo;It wasn&rsquo;t very civil of you to sit down without being
invited,&rdquo; said the March Hare.
</p>

<p>
&ldquo;I didn&rsquo;t know it was <i>your</i> table,&rdquo; said Alice;
&ldquo;it&rsquo;s laid for a great many more than three.&rdquo;
</p>

<p>
&ldquo;Your hair wants cutting,&rdquo; said the Hatter. He had been looking at
Alice for some time with great curiosity, and this was his first speech.
</p>

<p>
&ldquo;You should learn not to make personal remarks,&rdquo; Alice said with
some severity; &ldquo;it&rsquo;s very rude.&rdquo;
</p>

<p>
The Hatter opened his eyes very wide on hearing this; but all he <i>said</i>
was, &ldquo;Why is a raven like a writing-desk?&rdquo;
</p>

<p>
&ldquo;Come, we shall have some fun now!&rdquo; thought Alice. &ldquo;I&rsquo;m
glad they&rsquo;ve begun asking riddles.&mdash;I believe I can guess
that,&rdquo; she added aloud.
</p>

<p>
&ldquo;Do you mean that you think you can find out the answer to it?&rdquo;
said the March Hare.
</p>

<p>
&ldquo;Exactly so,&rdquo; said Alice.
</p>

<p>
&ldquo;Then you should say what you mean,&rdquo; the March Hare went on.
</p>

<p>
&ldquo;I do,&rdquo; Alice hastily replied; &ldquo;at least&mdash;at least I
mean what I say&mdash;that&rsquo;s the same thing, you know.&rdquo;
</p>

<p>
&ldquo;Not the same thing a bit!&rdquo; said the Hatter. &ldquo;You might just
as well say that &lsquo;I see what I eat&rsquo; is the same thing as &lsquo;I
eat what I see&rsquo;!&rdquo;
</p>

<p>
&ldquo;You might just as well say,&rdquo; added the March Hare, &ldquo;that
&lsquo;I like what I get&rsquo; is the same thing as &lsquo;I get what I
like&rsquo;!&rdquo;
</p>

<p>
&ldquo;You might just as well say,&rdquo; added the Dormouse, who seemed to be
talking in his sleep, &ldquo;that &lsquo;I breathe when I sleep&rsquo; is the
same thing as &lsquo;I sleep when I breathe&rsquo;!&rdquo;
</p>

<p>
&ldquo;It <i>is</i> the same thing with you,&rdquo; said the Hatter, and here
the conversation dropped, and the party sat silent for a minute, while Alice
thought over all she could remember about ravens and writing-desks, which
wasn&rsquo;t much.
</p>

<p>
The Hatter was the first to break the silence. &ldquo;What day of the month is
it?&rdquo; he said, turning to Alice: he had taken his watch out of his pocket,
and was looking at it uneasily, shaking it every now and then, and holding it
to his ear.
</p>

<p>
Alice considered a little, and then said &ldquo;The fourth.&rdquo;
</p>

<p>
&ldquo;Two days wrong!&rdquo; sighed the Hatter. &ldquo;I told you butter
wouldn&rsquo;t suit the works!&rdquo; he added looking angrily at the March
Hare.
</p>

<p>
&ldquo;It was the <i>best</i> butter,&rdquo; the March Hare meekly replied.
</p>

<p>
&ldquo;Yes, but some crumbs must have got in as well,&rdquo; the Hatter
grumbled: &ldquo;you shouldn&rsquo;t have put it in with the
bread-knife.&rdquo;
</p>

<p>
The March Hare took the watch and looked at it gloomily: then he dipped it into
his cup of tea, and looked at it again: but he could think of nothing better to
say than his first remark, &ldquo;It was the <i>best</i> butter, you
know.&rdquo;
</p>

<p>
Alice had been looking over his shoulder with some curiosity. &ldquo;What a
funny watch!&rdquo; she remarked. &ldquo;It tells the day of the month, and
doesn&rsquo;t tell what o&rsquo;clock it is!&rdquo;
</p>

<p>
&ldquo;Why should it?&rdquo; muttered the Hatter. &ldquo;Does <i>your</i> watch
tell you what year it is?&rdquo;
</p>

<p>
&ldquo;Of course not,&rdquo; Alice replied very readily: &ldquo;but
that&rsquo;s because it stays the same year for such a long time
together.&rdquo;
</p>

<p>
&ldquo;Which is just the case with <i>mine</i>,&rdquo; said the Hatter.
</p>

<p>
Alice felt dreadfully puzzled. The Hatter&rsquo;s remark seemed to have no sort
of meaning in it, and yet it was certainly English. &ldquo;I don&rsquo;t quite
understand you,&rdquo; she said, as politely as she could.
</p>

<p>
&ldquo;The Dormouse is asleep again,&rdquo; said the Hatter, and he poured a
little hot tea upon its nose.
</p>

<p>
The Dormouse shook its head impatiently, and said, without opening its eyes,
&ldquo;Of course, of course; just what I was going to remark myself.&rdquo;
</p>

<p>
&ldquo;Have you guessed the riddle yet?&rdquo; the Hatter said, turning to
Alice again.
</p>

<p>
&ldquo;No, I give it up,&rdquo; Alice replied: &ldquo;what&rsquo;s the
answer?&rdquo;
</p>

<p>
&ldquo;I haven&rsquo;t the slightest idea,&rdquo; said the Hatter.
</p>

<p>
&ldquo;Nor I,&rdquo; said the March Hare.
</p>

<p>
Alice sighed wearily. &ldquo;I think you might do something better with the
time,&rdquo; she said, &ldquo;than waste it in asking riddles that have no
answers.&rdquo;
</p>

<p>
&ldquo;If you knew Time as well as I do,&rdquo; said the Hatter, &ldquo;you
wouldn&rsquo;t talk about wasting <i>it</i>. It&rsquo;s <i>him</i>.&rdquo;
</p>

<p>
&ldquo;I don&rsquo;t know what you mean,&rdquo; said Alice.
</p>

<p>
&ldquo;Of course you don&rsquo;t!&rdquo; the Hatter said, tossing his head
contemptuously. &ldquo;I dare say you never even spoke to Time!&rdquo;
</p>

<p>
&ldquo;Perhaps not,&rdquo; Alice cautiously replied: &ldquo;but I know I have
to beat time when I learn music.&rdquo;
</p>

<p>
&ldquo;Ah! that accounts for it,&rdquo; said the Hatter. &ldquo;He won&rsquo;t
stand beating. Now, if you only kept on good terms with him, he&rsquo;d do
almost anything you liked with the clock. For instance, suppose it were nine
o&rsquo;clock in the morning, just time to begin lessons: you&rsquo;d only have
to whisper a hint to Time, and round goes the clock in a twinkling! Half-past
one, time for dinner!&rdquo;
</p>

<p>
(&ldquo;I only wish it was,&rdquo; the March Hare said to itself in a whisper.)
</p>

<p>
&ldquo;That would be grand, certainly,&rdquo; said Alice thoughtfully:
&ldquo;but then&mdash;I shouldn&rsquo;t be hungry for it, you know.&rdquo;
</p>

<p>
&ldquo;Not at first, perhaps,&rdquo; said the Hatter: &ldquo;but you could keep
it to half-past one as long as you liked.&rdquo;
</p>

<p>
&ldquo;Is that the way <i>you</i> manage?&rdquo; Alice asked.
</p>

<p>
The Hatter shook his head mournfully. &ldquo;Not I!&rdquo; he replied.
&ldquo;We quarrelled last March&mdash;just before <i>he</i> went mad, you
know&mdash;&rdquo; (pointing with his tea spoon at the March Hare,)
&ldquo;&mdash;it was at the great concert given by the Queen of Hearts, and I
had to sing
</p>

<p class="poem">
&lsquo;Twinkle, twinkle, little bat!<br/>
How I wonder what you&rsquo;re at!&rsquo;
</p>

<p class="noindent">
You know the song, perhaps?&rdquo;
</p>

<p>
&ldquo;I&rsquo;ve heard something like it,&rdquo; said Alice.
</p>

<p>
&ldquo;It goes on, you know,&rdquo; the Hatter continued, &ldquo;in this
way:&mdash;
</p>

<p class="poem">
&lsquo;Up above the world you fly,<br/>
Like a tea-tray in the sky.<br/>
                    Twinkle, twinkle&mdash;&rsquo;&rdquo;
</p>

<p>
Here the Dormouse shook itself, and began singing in its sleep
&ldquo;<i>Twinkle, twinkle, twinkle, twinkle</i>&mdash;&rdquo; and went on so
long that they had to pinch it to make it stop.
</p>

<p>
&ldquo;Well, I&rsquo;d hardly finished the first verse,&rdquo; said the Hatter,
&ldquo;when the Queen jumped up and bawled out, &lsquo;He&rsquo;s murdering the
time! Off with his head!&rsquo;&rdquo;
</p>

<p>
&ldquo;How dreadfully savage!&rdquo; exclaimed Alice.
</p>

<p>
&ldquo;And ever since that,&rdquo; the Hatter went on in a mournful tone,
&ldquo;he won&rsquo;t do a thing I ask! It&rsquo;s always six o&rsquo;clock
now.&rdquo;
</p>

<p>
A bright idea came into Alice&rsquo;s head. &ldquo;Is that the reason so many
tea-things are put out here?&rdquo; she asked.
</p>

<p>
&ldquo;Yes, that&rsquo;s it,&rdquo; said the Hatter with a sigh:
&ldquo;it&rsquo;s always tea-time, and we&rsquo;ve no time to wash the things
between whiles.&rdquo;
</p>

<p>
&ldquo;Then you keep moving round, I suppose?&rdquo; said Alice.
</p>

<p>
&ldquo;Exactly so,&rdquo; said the Hatter: &ldquo;as the things get used
up.&rdquo;
</p>

<p>
&ldquo;But what happens when you come to the beginning again?&rdquo; Alice
ventured to ask.
</p>

<p>
&ldquo;Suppose we change the subject,&rdquo; the March Hare interrupted,
yawning. &ldquo;I&rsquo;m getting tired of this. I vote the young lady tells us
a story.&rdquo;
</p>

<p>
&ldquo;I&rsquo;m afraid I don&rsquo;t know one,&rdquo; said Alice, rather
alarmed at the proposal.
</p>

<p>
&ldquo;Then the Dormouse shall!&rdquo; they both cried. &ldquo;Wake up,
Dormouse!&rdquo; And they pinched it on both sides at once.
</p>

<p>
The Dormouse slowly opened his eyes. &ldquo;I wasn&rsquo;t asleep,&rdquo; he
said in a hoarse, feeble voice: &ldquo;I heard every word you fellows were
saying.&rdquo;
</p>

<p>
&ldquo;Tell us a story!&rdquo; said the March Hare.
</p>

<p>
&ldquo;Yes, please do!&rdquo; pleaded Alice.
</p>

<p>
&ldquo;And be quick about it,&rdquo; added the Hatter, &ldquo;or you&rsquo;ll
be asleep again before it&rsquo;s done.&rdquo;
</p>

<p>
&ldquo;Once upon a time there were three little sisters,&rdquo; the Dormouse
began in a great hurry; &ldquo;and their names were Elsie, Lacie, and Tillie;
and they lived at the bottom of a well&mdash;&rdquo;
</p>

<p>
&ldquo;What did they live on?&rdquo; said Alice, who always took a great
interest in questions of eating and drinking.
</p>

<p>
&ldquo;They lived on treacle,&rdquo; said the Dormouse, after thinking a minute
or two.
</p>

<p>
&ldquo;They couldn&rsquo;t have done that, you know,&rdquo; Alice gently
remarked; &ldquo;they&rsquo;d have been ill.&rdquo;
</p>

<p>
&ldquo;So they were,&rdquo; said the Dormouse; &ldquo;<i>very</i> ill.&rdquo;
</p>

<p>
Alice tried to fancy to herself what such an extraordinary ways of living would
be like, but it puzzled her too much, so she went on: &ldquo;But why did they
live at the bottom of a well?&rdquo;
</p>

<p>
&ldquo;Take some more tea,&rdquo; the March Hare said to Alice, very earnestly.
</p>

<p>
&ldquo;I&rsquo;ve had nothing yet,&rdquo; Alice replied in an offended tone,
&ldquo;so I can&rsquo;t take more.&rdquo;
</p>

<p>
&ldquo;You mean you can&rsquo;t take <i>less</i>,&rdquo; said the Hatter:
&ldquo;it&rsquo;s very easy to take <i>more</i> than nothing.&rdquo;
</p>

<p>
&ldquo;Nobody asked <i>your</i> opinion,&rdquo; said Alice.
</p>

<p>
&ldquo;Who&rsquo;s making personal remarks now?&rdquo; the Hatter asked
triumphantly.
</p>

<p>
Alice did not quite know what to say to this: so she helped herself to some tea
and bread-and-butter, and then turned to the Dormouse, and repeated her
question. &ldquo;Why did they live at the bottom of a well?&rdquo;
</p>

<p>
The Dormouse again took a minute or two to think about it, and then said,
&ldquo;It was a treacle-well.&rdquo;
</p>

<p>
&ldquo;There&rsquo;s no such thing!&rdquo; Alice was beginning very angrily,
but the Hatter and the March Hare went &ldquo;Sh! sh!&rdquo; and the Dormouse
sulkily remarked, &ldquo;If you can&rsquo;t be civil, you&rsquo;d better finish
the story for yourself.&rdquo;
</p>

<p>
&ldquo;No, please go on!&rdquo; Alice said very humbly; &ldquo;I won&rsquo;t
interrupt again. I dare say there may be <i>one</i>.&rdquo;
</p>

<p>
&ldquo;One, indeed!&rdquo; said the Dormouse indignantly. However, he consented
to go on. &ldquo;And so these three little sisters&mdash;they were learning to
draw, you know&mdash;&rdquo;
</p>

<p>
&ldquo;What did they draw?&rdquo; said Alice, quite forgetting her promise.
</p>

<p>
&ldquo;Treacle,&rdquo; said the Dormouse, without considering at all this time.
</p>

<p>
&ldquo;I want a clean cup,&rdquo; interrupted the Hatter: &ldquo;let&rsquo;s
all move one place on.&rdquo;
</p>

<p>
He moved on as he spoke, and the Dormouse followed him: the March Hare moved
into the Dormouse&rsquo;s place, and Alice rather unwillingly took the place of
the March Hare. The Hatter was the only one who got any advantage from the
change: and Alice was a good deal worse off than before, as the March Hare had
just upset the milk-jug into his plate.
</p>

<p>
Alice did not wish to offend the Dormouse again, so she began very cautiously:
&ldquo;But I don&rsquo;t understand. Where did they draw the treacle
from?&rdquo;
</p>

<p>
&ldquo;You can draw water out of a water-well,&rdquo; said the Hatter;
&ldquo;so I should think you could draw treacle out of a treacle-well&mdash;eh,
stupid?&rdquo;
</p>

<p>
&ldquo;But they were <i>in</i> the well,&rdquo; Alice said to the Dormouse, not
choosing to notice this last remark.
</p>

<p>
&ldquo;Of course they were,&rdquo; said the Dormouse; &ldquo;&mdash;well
in.&rdquo;
</p>

<p>
This answer so confused poor Alice, that she let the Dormouse go on for some
time without interrupting it.
</p>

<p>
&ldquo;They were learning to draw,&rdquo; the Dormouse went on, yawning and
rubbing its eyes, for it was getting very sleepy; &ldquo;and they drew all
manner of things&mdash;everything that begins with an M&mdash;&rdquo;
</p>

<p>
&ldquo;Why with an M?&rdquo; said Alice.
</p>

<p>
&ldquo;Why not?&rdquo; said the March Hare.
</p>

<p>
Alice was silent.
</p>

<p>
The Dormouse had closed its eyes by this time, and was going off into a doze;
but, on being pinched by the Hatter, it woke up again with a little shriek, and
went on: &ldquo;&mdash;that begins with an M, such as mouse-traps, and the
moon, and memory, and muchness&mdash;you know you say things are &ldquo;much of
a muchness&rdquo;&mdash;did you ever see such a thing as a drawing of a
muchness?&rdquo;
</p>

<p>
&ldquo;Really, now you ask me,&rdquo; said Alice, very much confused, &ldquo;I
don&rsquo;t think&mdash;&rdquo;
</p>

<p>
&ldquo;Then you shouldn&rsquo;t talk,&rdquo; said the Hatter.
</p>

<p>
This piece of rudeness was more than Alice could bear: she got up in great
disgust, and walked off; the Dormouse fell asleep instantly, and neither of the
others took the least notice of her going, though she looked back once or
twice, half hoping that they would call after her: the last time she saw them,
they were trying to put the Dormouse into the teapot.
</p>

<p>
&ldquo;At any rate I&rsquo;ll never go <i>there</i> again!&rdquo; said Alice as
she picked her way through the wood. &ldquo;It&rsquo;s the stupidest tea-party
I ever was at in all my life!&rdquo;
</p>

<p>
Just as she said this, she noticed that one of the trees had a door leading
right into it. &ldquo;That&rsquo;s very curious!&rdquo; she thought. &ldquo;But
everything&rsquo;s curious today. I think I may as well go in at once.&rdquo;
And in she went.
</p>

<p>
Once more she found herself in the long hall, and close to the little glass
table. &ldquo;Now, I&rsquo;ll manage better this time,&rdquo; she said to
herself, and began by taking the little golden key, and unlocking the door that
led into the garden. Then she went to work nibbling at the mushroom (she had
kept a piece of it in her pocket) till she was about a foot high: then she
walked down the little passage: and <i>then</i>&mdash;she found herself at last
in the beautiful garden, among the bright flower-beds and the cool fountains.
</p>
  <ion-footer>
    <ion-button href="/chapter-vi" class="back-button">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button href="/chapter-viii" class="next-button" vertical="bottom" horizontal="end" >
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-footer>
</ion-content>

