<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chapter-ix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">chapter-ix</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h1>CHAPTER IX.</h1>
  <h2>The Mock Turtle’s Story</h2>
  <p>
&ldquo;You can&rsquo;t think how glad I am to see you again, you dear old
thing!&rdquo; said the Duchess, as she tucked her arm affectionately into
Alice&rsquo;s, and they walked off together.
</p>

<p>
Alice was very glad to find her in such a pleasant temper, and thought to
herself that perhaps it was only the pepper that had made her so savage when
they met in the kitchen.
</p>

<p>
&ldquo;When <i>I&rsquo;m</i> a Duchess,&rdquo; she said to herself, (not in a
very hopeful tone though), &ldquo;I won&rsquo;t have any pepper in my kitchen
<i>at all</i>. Soup does very well without&mdash;Maybe it&rsquo;s always pepper
that makes people hot-tempered,&rdquo; she went on, very much pleased at having
found out a new kind of rule, &ldquo;and vinegar that makes them sour&mdash;and
camomile that makes them bitter&mdash;and&mdash;and barley-sugar and such
things that make children sweet-tempered. I only wish people knew <i>that</i>:
then they wouldn&rsquo;t be so stingy about it, you know&mdash;&rdquo;
</p>

<p>
She had quite forgotten the Duchess by this time, and was a little startled
when she heard her voice close to her ear. &ldquo;You&rsquo;re thinking about
something, my dear, and that makes you forget to talk. I can&rsquo;t tell you
just now what the moral of that is, but I shall remember it in a bit.&rdquo;
</p>

<p>
&ldquo;Perhaps it hasn&rsquo;t one,&rdquo; Alice ventured to remark.
</p>

<p>
&ldquo;Tut, tut, child!&rdquo; said the Duchess. &ldquo;Everything&rsquo;s got
a moral, if only you can find it.&rdquo; And she squeezed herself up closer to
Alice&rsquo;s side as she spoke.
</p>

<p>
Alice did not much like keeping so close to her: first, because the Duchess was
<i>very</i> ugly; and secondly, because she was exactly the right height to
rest her chin upon Alice&rsquo;s shoulder, and it was an uncomfortably sharp
chin. However, she did not like to be rude, so she bore it as well as she
could.
</p>

<p>
&ldquo;The game&rsquo;s going on rather better now,&rdquo; she said, by way of
keeping up the conversation a little.
</p>

<p>
&ldquo;&rsquo;Tis so,&rdquo; said the Duchess: &ldquo;and the moral of that
is&mdash;&lsquo;Oh, &rsquo;tis love, &rsquo;tis love, that makes the world go
round!&rsquo;&rdquo;
</p>

<p>
&ldquo;Somebody said,&rdquo; Alice whispered, &ldquo;that it&rsquo;s done by
everybody minding their own business!&rdquo;
</p>

<p>
&ldquo;Ah, well! It means much the same thing,&rdquo; said the Duchess, digging
her sharp little chin into Alice&rsquo;s shoulder as she added, &ldquo;and the
moral of <i>that</i> is&mdash;&lsquo;Take care of the sense, and the sounds
will take care of themselves.&rsquo;&rdquo;
</p>

<p>
&ldquo;How fond she is of finding morals in things!&rdquo; Alice thought to
herself.
</p>

<p>
&ldquo;I dare say you&rsquo;re wondering why I don&rsquo;t put my arm round
your waist,&rdquo; the Duchess said after a pause: &ldquo;the reason is, that
I&rsquo;m doubtful about the temper of your flamingo. Shall I try the
experiment?&rdquo;
</p>

<p>
&ldquo;He might bite,&rdquo; Alice cautiously replied, not feeling at all
anxious to have the experiment tried.
</p>

<p>
&ldquo;Very true,&rdquo; said the Duchess: &ldquo;flamingoes and mustard both
bite. And the moral of that is&mdash;&lsquo;Birds of a feather flock
together.&rsquo;&rdquo;
</p>

<p>
&ldquo;Only mustard isn&rsquo;t a bird,&rdquo; Alice remarked.
</p>

<p>
&ldquo;Right, as usual,&rdquo; said the Duchess: &ldquo;what a clear way you
have of putting things!&rdquo;
</p>

<p>
&ldquo;It&rsquo;s a mineral, I <i>think</i>,&rdquo; said Alice.
</p>

<p>
&ldquo;Of course it is,&rdquo; said the Duchess, who seemed ready to agree to
everything that Alice said; &ldquo;there&rsquo;s a large mustard-mine near
here. And the moral of that is&mdash;&lsquo;The more there is of mine, the less
there is of yours.&rsquo;&rdquo;
</p>

<p>
&ldquo;Oh, I know!&rdquo; exclaimed Alice, who had not attended to this last
remark, &ldquo;it&rsquo;s a vegetable. It doesn&rsquo;t look like one, but it
is.&rdquo;
</p>

<p>
&ldquo;I quite agree with you,&rdquo; said the Duchess; &ldquo;and the moral of
that is&mdash;&lsquo;Be what you would seem to be&rsquo;&mdash;or if
you&rsquo;d like it put more simply&mdash;&lsquo;Never imagine yourself not to
be otherwise than what it might appear to others that what you were or might
have been was not otherwise than what you had been would have appeared to them
to be otherwise.&rsquo;&rdquo;
</p>

<p>
&ldquo;I think I should understand that better,&rdquo; Alice said very
politely, &ldquo;if I had it written down: but I can&rsquo;t quite follow it as
you say it.&rdquo;
</p>

<p>
&ldquo;That&rsquo;s nothing to what I could say if I chose,&rdquo; the Duchess
replied, in a pleased tone.
</p>

<p>
&ldquo;Pray don&rsquo;t trouble yourself to say it any longer than that,&rdquo;
said Alice.
</p>

<p>
&ldquo;Oh, don&rsquo;t talk about trouble!&rdquo; said the Duchess. &ldquo;I
make you a present of everything I&rsquo;ve said as yet.&rdquo;
</p>

<p>
&ldquo;A cheap sort of present!&rdquo; thought Alice. &ldquo;I&rsquo;m glad
they don&rsquo;t give birthday presents like that!&rdquo; But she did not
venture to say it out loud.
</p>

<p>
&ldquo;Thinking again?&rdquo; the Duchess asked, with another dig of her sharp
little chin.
</p>

<p>
&ldquo;I&rsquo;ve a right to think,&rdquo; said Alice sharply, for she was
beginning to feel a little worried.
</p>

<p>
&ldquo;Just about as much right,&rdquo; said the Duchess, &ldquo;as pigs have
to fly; and the m&mdash;&rdquo;
</p>

<p>
But here, to Alice&rsquo;s great surprise, the Duchess&rsquo;s voice died away,
even in the middle of her favourite word &lsquo;moral,&rsquo; and the arm that
was linked into hers began to tremble. Alice looked up, and there stood the
Queen in front of them, with her arms folded, frowning like a thunderstorm.
</p>

<p>
&ldquo;A fine day, your Majesty!&rdquo; the Duchess began in a low, weak voice.
</p>

<p>
&ldquo;Now, I give you fair warning,&rdquo; shouted the Queen, stamping on the
ground as she spoke; &ldquo;either you or your head must be off, and that in
about half no time! Take your choice!&rdquo;
</p>

<p>
The Duchess took her choice, and was gone in a moment.
</p>

<p>
&ldquo;Let&rsquo;s go on with the game,&rdquo; the Queen said to Alice; and
Alice was too much frightened to say a word, but slowly followed her back to
the croquet-ground.
</p>

<p>
The other guests had taken advantage of the Queen&rsquo;s absence, and were
resting in the shade: however, the moment they saw her, they hurried back to
the game, the Queen merely remarking that a moment&rsquo;s delay would cost
them their lives.
</p>

<p>
All the time they were playing the Queen never left off quarrelling with the
other players, and shouting &ldquo;Off with his head!&rdquo; or &ldquo;Off with
her head!&rdquo; Those whom she sentenced were taken into custody by the
soldiers, who of course had to leave off being arches to do this, so that by
the end of half an hour or so there were no arches left, and all the players,
except the King, the Queen, and Alice, were in custody and under sentence of
execution.
</p>

<p>
Then the Queen left off, quite out of breath, and said to Alice, &ldquo;Have
you seen the Mock Turtle yet?&rdquo;
</p>

<p>
&ldquo;No,&rdquo; said Alice. &ldquo;I don&rsquo;t even know what a Mock Turtle
is.&rdquo;
</p>

<p>
&ldquo;It&rsquo;s the thing Mock Turtle Soup is made from,&rdquo; said the
Queen.
</p>

<p>
&ldquo;I never saw one, or heard of one,&rdquo; said Alice.
</p>

<p>
&ldquo;Come on, then,&rdquo; said the Queen, &ldquo;and he shall tell you his
history,&rdquo;
</p>

<p>
As they walked off together, Alice heard the King say in a low voice, to the
company generally, &ldquo;You are all pardoned.&rdquo; &ldquo;Come,
<i>that&rsquo;s</i> a good thing!&rdquo; she said to herself, for she had felt
quite unhappy at the number of executions the Queen had ordered.
</p>

<p>
They very soon came upon a Gryphon, lying fast asleep in the sun. (If you
don&rsquo;t know what a Gryphon is, look at the picture.) &ldquo;Up, lazy
thing!&rdquo; said the Queen, &ldquo;and take this young lady to see the Mock
Turtle, and to hear his history. I must go back and see after some executions I
have ordered;&rdquo; and she walked off, leaving Alice alone with the Gryphon.
Alice did not quite like the look of the creature, but on the whole she thought
it would be quite as safe to stay with it as to go after that savage Queen: so
she waited.
</p>

<p>
The Gryphon sat up and rubbed its eyes: then it watched the Queen till she was
out of sight: then it chuckled. &ldquo;What fun!&rdquo; said the Gryphon, half
to itself, half to Alice.
</p>

<p>
&ldquo;What <i>is</i> the fun?&rdquo; said Alice.
</p>

<p>
&ldquo;Why, <i>she</i>,&rdquo; said the Gryphon. &ldquo;It&rsquo;s all her
fancy, that: they never executes nobody, you know. Come on!&rdquo;
</p>

<p>
&ldquo;Everybody says &lsquo;come on!&rsquo; here,&rdquo; thought Alice, as she
went slowly after it: &ldquo;I never was so ordered about in all my life,
never!&rdquo;
</p>

<p>
They had not gone far before they saw the Mock Turtle in the distance, sitting
sad and lonely on a little ledge of rock, and, as they came nearer, Alice could
hear him sighing as if his heart would break. She pitied him deeply.
&ldquo;What is his sorrow?&rdquo; she asked the Gryphon, and the Gryphon
answered, very nearly in the same words as before, &ldquo;It&rsquo;s all his
fancy, that: he hasn&rsquo;t got no sorrow, you know. Come on!&rdquo;
</p>

<p>
So they went up to the Mock Turtle, who looked at them with large eyes full of
tears, but said nothing.
</p>

<p>
&ldquo;This here young lady,&rdquo; said the Gryphon, &ldquo;she wants for to
know your history, she do.&rdquo;
</p>

<p>
&ldquo;I&rsquo;ll tell it her,&rdquo; said the Mock Turtle in a deep, hollow
tone: &ldquo;sit down, both of you, and don&rsquo;t speak a word till
I&rsquo;ve finished.&rdquo;
</p>

<p>
So they sat down, and nobody spoke for some minutes. Alice thought to herself,
&ldquo;I don&rsquo;t see how he can <i>ever</i> finish, if he doesn&rsquo;t
begin.&rdquo; But she waited patiently.
</p>

<p>
&ldquo;Once,&rdquo; said the Mock Turtle at last, with a deep sigh, &ldquo;I
was a real Turtle.&rdquo;
</p>

<p>
These words were followed by a very long silence, broken only by an occasional
exclamation of &ldquo;Hjckrrh!&rdquo; from the Gryphon, and the constant heavy
sobbing of the Mock Turtle. Alice was very nearly getting up and saying,
&ldquo;Thank you, sir, for your interesting story,&rdquo; but she could not
help thinking there <i>must</i> be more to come, so she sat still and said
nothing.
</p>

<p>
&ldquo;When we were little,&rdquo; the Mock Turtle went on at last, more
calmly, though still sobbing a little now and then, &ldquo;we went to school in
the sea. The master was an old Turtle&mdash;we used to call him
Tortoise&mdash;&rdquo;
</p>

<p>
&ldquo;Why did you call him Tortoise, if he wasn&rsquo;t one?&rdquo; Alice
asked.
</p>

<p>
&ldquo;We called him Tortoise because he taught us,&rdquo; said the Mock Turtle
angrily: &ldquo;really you are very dull!&rdquo;
</p>

<p>
&ldquo;You ought to be ashamed of yourself for asking such a simple
question,&rdquo; added the Gryphon; and then they both sat silent and looked at
poor Alice, who felt ready to sink into the earth. At last the Gryphon said to
the Mock Turtle, &ldquo;Drive on, old fellow! Don&rsquo;t be all day about
it!&rdquo; and he went on in these words:
</p>

<p>
&ldquo;Yes, we went to school in the sea, though you mayn&rsquo;t believe
it&mdash;&rdquo;
</p>

<p>
&ldquo;I never said I didn&rsquo;t!&rdquo; interrupted Alice.
</p>

<p>
&ldquo;You did,&rdquo; said the Mock Turtle.
</p>

<p>
&ldquo;Hold your tongue!&rdquo; added the Gryphon, before Alice could speak
again. The Mock Turtle went on.
</p>

<p>
&ldquo;We had the best of educations&mdash;in fact, we went to school every
day&mdash;&rdquo;
</p>

<p>
&ldquo;<i>I&rsquo;ve</i> been to a day-school, too,&rdquo; said Alice;
&ldquo;you needn&rsquo;t be so proud as all that.&rdquo;
</p>

<p>
&ldquo;With extras?&rdquo; asked the Mock Turtle a little anxiously.
</p>

<p>
&ldquo;Yes,&rdquo; said Alice, &ldquo;we learned French and music.&rdquo;
</p>

<p>
&ldquo;And washing?&rdquo; said the Mock Turtle.
</p>

<p>
&ldquo;Certainly not!&rdquo; said Alice indignantly.
</p>

<p>
&ldquo;Ah! then yours wasn&rsquo;t a really good school,&rdquo; said the Mock
Turtle in a tone of great relief. &ldquo;Now at <i>ours</i> they had at the end
of the bill, &lsquo;French, music, <i>and
washing</i>&mdash;extra.&rsquo;&rdquo;
</p>

<p>
&ldquo;You couldn&rsquo;t have wanted it much,&rdquo; said Alice; &ldquo;living
at the bottom of the sea.&rdquo;
</p>

<p>
&ldquo;I couldn&rsquo;t afford to learn it.&rdquo; said the Mock Turtle with a
sigh. &ldquo;I only took the regular course.&rdquo;
</p>

<p>
&ldquo;What was that?&rdquo; inquired Alice.
</p>

<p>
&ldquo;Reeling and Writhing, of course, to begin with,&rdquo; the Mock Turtle
replied; &ldquo;and then the different branches of Arithmetic&mdash;Ambition,
Distraction, Uglification, and Derision.&rdquo;
</p>

<p>
&ldquo;I never heard of &lsquo;Uglification,&rsquo;&rdquo; Alice ventured to
say. &ldquo;What is it?&rdquo;
</p>

<p>
The Gryphon lifted up both its paws in surprise. &ldquo;What! Never heard of
uglifying!&rdquo; it exclaimed. &ldquo;You know what to beautify is, I
suppose?&rdquo;
</p>

<p>
&ldquo;Yes,&rdquo; said Alice doubtfully: &ldquo;it
means&mdash;to&mdash;make&mdash;anything&mdash;prettier.&rdquo;
</p>

<p>
&ldquo;Well, then,&rdquo; the Gryphon went on, &ldquo;if you don&rsquo;t know
what to uglify is, you <i>are</i> a simpleton.&rdquo;
</p>

<p>
Alice did not feel encouraged to ask any more questions about it, so she turned
to the Mock Turtle, and said &ldquo;What else had you to learn?&rdquo;
</p>

<p>
&ldquo;Well, there was Mystery,&rdquo; the Mock Turtle replied, counting off
the subjects on his flappers, &ldquo;&mdash;Mystery, ancient and modern, with
Seaography: then Drawling&mdash;the Drawling-master was an old conger-eel, that
used to come once a week: <i>he</i> taught us Drawling, Stretching, and
Fainting in Coils.&rdquo;
</p>

<p>
&ldquo;What was <i>that</i> like?&rdquo; said Alice.
</p>

<p>
&ldquo;Well, I can&rsquo;t show it you myself,&rdquo; the Mock Turtle said:
&ldquo;I&rsquo;m too stiff. And the Gryphon never learnt it.&rdquo;
</p>

<p>
&ldquo;Hadn&rsquo;t time,&rdquo; said the Gryphon: &ldquo;I went to the
Classics master, though. He was an old crab, <i>he</i> was.&rdquo;
</p>

<p>
&ldquo;I never went to him,&rdquo; the Mock Turtle said with a sigh: &ldquo;he
taught Laughing and Grief, they used to say.&rdquo;
</p>

<p>
&ldquo;So he did, so he did,&rdquo; said the Gryphon, sighing in his turn; and
both creatures hid their faces in their paws.
</p>

<p>
&ldquo;And how many hours a day did you do lessons?&rdquo; said Alice, in a
hurry to change the subject.
</p>

<p>
&ldquo;Ten hours the first day,&rdquo; said the Mock Turtle: &ldquo;nine the
next, and so on.&rdquo;
</p>

<p>
&ldquo;What a curious plan!&rdquo; exclaimed Alice.
</p>

<p>
&ldquo;That&rsquo;s the reason they&rsquo;re called lessons,&rdquo; the Gryphon
remarked: &ldquo;because they lessen from day to day.&rdquo;
</p>

<p>
This was quite a new idea to Alice, and she thought it over a little before she
made her next remark. &ldquo;Then the eleventh day must have been a
holiday?&rdquo;
</p>

<p>
&ldquo;Of course it was,&rdquo; said the Mock Turtle.
</p>

<p>
&ldquo;And how did you manage on the twelfth?&rdquo; Alice went on eagerly.
</p>

<p>
&ldquo;That&rsquo;s enough about lessons,&rdquo; the Gryphon interrupted in a
very decided tone: &ldquo;tell her something about the games now.&rdquo;
</p>
  <ion-footer>
    <ion-button href="/chapter-viii" class="back-button">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button href="/chapter-x" class="next-button" vertical="bottom" horizontal="end" >
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-footer>
</ion-content>

