<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chapter-x</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">chapter-x</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h1>CHAPTER X.</h1>
  <h2>The Lobster Quadrille</h2>
  <p>
The Mock Turtle sighed deeply, and drew the back of one flapper across his
eyes. He looked at Alice, and tried to speak, but for a minute or two sobs
choked his voice. &ldquo;Same as if he had a bone in his throat,&rdquo; said
the Gryphon: and it set to work shaking him and punching him in the back. At
last the Mock Turtle recovered his voice, and, with tears running down his
cheeks, he went on again:&mdash;
</p>

<p>
&ldquo;You may not have lived much under the sea&mdash;&rdquo; (&ldquo;I
haven&rsquo;t,&rdquo; said Alice)&mdash;&ldquo;and perhaps you were never even
introduced to a lobster&mdash;&rdquo; (Alice began to say &ldquo;I once
tasted&mdash;&rdquo; but checked herself hastily, and said &ldquo;No,
never&rdquo;) &ldquo;&mdash;so you can have no idea what a delightful thing a
Lobster Quadrille is!&rdquo;
</p>

<p>
&ldquo;No, indeed,&rdquo; said Alice. &ldquo;What sort of a dance is it?&rdquo;
</p>

<p>
&ldquo;Why,&rdquo; said the Gryphon, &ldquo;you first form into a line along
the sea-shore&mdash;&rdquo;
</p>

<p>
&ldquo;Two lines!&rdquo; cried the Mock Turtle. &ldquo;Seals, turtles, salmon,
and so on; then, when you&rsquo;ve cleared all the jelly-fish out of the
way&mdash;&rdquo;
</p>

<p>
&ldquo;<i>That</i> generally takes some time,&rdquo; interrupted the Gryphon.
</p>

<p>
&ldquo;&mdash;you advance twice&mdash;&rdquo;
</p>

<p>
&ldquo;Each with a lobster as a partner!&rdquo; cried the Gryphon.
</p>

<p>
&ldquo;Of course,&rdquo; the Mock Turtle said: &ldquo;advance twice, set to
partners&mdash;&rdquo;
</p>

<p>
&ldquo;&mdash;change lobsters, and retire in same order,&rdquo; continued the
Gryphon.
</p>

<p>
&ldquo;Then, you know,&rdquo; the Mock Turtle went on, &ldquo;you throw
the&mdash;&rdquo;
</p>

<p>
&ldquo;The lobsters!&rdquo; shouted the Gryphon, with a bound into the air.
</p>

<p>
&ldquo;&mdash;as far out to sea as you can&mdash;&rdquo;
</p>

<p>
&ldquo;Swim after them!&rdquo; screamed the Gryphon.
</p>

<p>
&ldquo;Turn a somersault in the sea!&rdquo; cried the Mock Turtle, capering
wildly about.
</p>

<p>
&ldquo;Change lobsters again!&rdquo; yelled the Gryphon at the top of its
voice.
</p>

<p>
&ldquo;Back to land again, and that&rsquo;s all the first figure,&rdquo; said
the Mock Turtle, suddenly dropping his voice; and the two creatures, who had
been jumping about like mad things all this time, sat down again very sadly and
quietly, and looked at Alice.
</p>

<p>
&ldquo;It must be a very pretty dance,&rdquo; said Alice timidly.
</p>

<p>
&ldquo;Would you like to see a little of it?&rdquo; said the Mock Turtle.
</p>

<p>
&ldquo;Very much indeed,&rdquo; said Alice.
</p>

<p>
&ldquo;Come, let&rsquo;s try the first figure!&rdquo; said the Mock Turtle to
the Gryphon. &ldquo;We can do without lobsters, you know. Which shall
sing?&rdquo;
</p>

<p>
&ldquo;Oh, <i>you</i> sing,&rdquo; said the Gryphon. &ldquo;I&rsquo;ve
forgotten the words.&rdquo;
</p>

<p>
So they began solemnly dancing round and round Alice, every now and then
treading on her toes when they passed too close, and waving their forepaws to
mark the time, while the Mock Turtle sang this, very slowly and sadly:&mdash;
</p>

<p class="poem">
&ldquo;Will you walk a little faster?&rdquo; said a whiting to a snail.<br/>
&ldquo;There&rsquo;s a porpoise close behind us, and he&rsquo;s treading on my tail.<br/>
See how eagerly the lobsters and the turtles all advance!<br/>
They are waiting on the shingle&mdash;will you come and join the dance?<br/>
Will you, won&rsquo;t you, will you, won&rsquo;t you, will you join the dance?<br/>
Will you, won&rsquo;t you, will you, won&rsquo;t you, won&rsquo;t you join the dance?<br/>
<br/>
&ldquo;You can really have no notion how delightful it will be<br/>
When they take us up and throw us, with the lobsters, out to sea!&rdquo;<br/>
But the snail replied &ldquo;Too far, too far!&rdquo; and gave a look askance&mdash;<br/>
Said he thanked the whiting kindly, but he would not join the dance.<br/>
Would not, could not, would not, could not, would not join the dance.<br/>
Would not, could not, would not, could not, could not join the dance.<br/>
<br/>
&ldquo;What matters it how far we go?&rdquo; his scaly friend replied.<br/>
&ldquo;There is another shore, you know, upon the other side.<br/>
The further off from England the nearer is to France&mdash;<br/>
Then turn not pale, beloved snail, but come and join the dance.<br/>
Will you, won&rsquo;t you, will you, won&rsquo;t you, will you join the dance?<br/>
Will you, won&rsquo;t you, will you, won&rsquo;t you, won&rsquo;t you join the dance?&rdquo;
</p>

<p>
&ldquo;Thank you, it&rsquo;s a very interesting dance to watch,&rdquo; said
Alice, feeling very glad that it was over at last: &ldquo;and I do so like that
curious song about the whiting!&rdquo;
</p>

<p>
&ldquo;Oh, as to the whiting,&rdquo; said the Mock Turtle,
&ldquo;they&mdash;you&rsquo;ve seen them, of course?&rdquo;
</p>

<p>
&ldquo;Yes,&rdquo; said Alice, &ldquo;I&rsquo;ve often seen them at
dinn&mdash;&rdquo; she checked herself hastily.
</p>

<p>
&ldquo;I don&rsquo;t know where Dinn may be,&rdquo; said the Mock Turtle,
&ldquo;but if you&rsquo;ve seen them so often, of course you know what
they&rsquo;re like.&rdquo;
</p>

<p>
&ldquo;I believe so,&rdquo; Alice replied thoughtfully. &ldquo;They have their
tails in their mouths&mdash;and they&rsquo;re all over crumbs.&rdquo;
</p>

<p>
&ldquo;You&rsquo;re wrong about the crumbs,&rdquo; said the Mock Turtle:
&ldquo;crumbs would all wash off in the sea. But they <i>have</i> their tails
in their mouths; and the reason is&mdash;&rdquo; here the Mock Turtle yawned
and shut his eyes.&mdash;&ldquo;Tell her about the reason and all that,&rdquo;
he said to the Gryphon.
</p>

<p>
&ldquo;The reason is,&rdquo; said the Gryphon, &ldquo;that they <i>would</i> go
with the lobsters to the dance. So they got thrown out to sea. So they had to
fall a long way. So they got their tails fast in their mouths. So they
couldn&rsquo;t get them out again. That&rsquo;s all.&rdquo;
</p>

<p>
&ldquo;Thank you,&rdquo; said Alice, &ldquo;it&rsquo;s very interesting. I
never knew so much about a whiting before.&rdquo;
</p>

<p>
&ldquo;I can tell you more than that, if you like,&rdquo; said the Gryphon.
&ldquo;Do you know why it&rsquo;s called a whiting?&rdquo;
</p>

<p>
&ldquo;I never thought about it,&rdquo; said Alice. &ldquo;Why?&rdquo;
</p>

<p>
&ldquo;<i>It does the boots and shoes</i>,&rdquo; the Gryphon replied very
solemnly.
</p>

<p>
Alice was thoroughly puzzled. &ldquo;Does the boots and shoes!&rdquo; she
repeated in a wondering tone.
</p>

<p>
&ldquo;Why, what are <i>your</i> shoes done with?&rdquo; said the Gryphon.
&ldquo;I mean, what makes them so shiny?&rdquo;
</p>

<p>
Alice looked down at them, and considered a little before she gave her answer.
&ldquo;They&rsquo;re done with blacking, I believe.&rdquo;
</p>

<p>
&ldquo;Boots and shoes under the sea,&rdquo; the Gryphon went on in a deep
voice, &ldquo;are done with a whiting. Now you know.&rdquo;
</p>

<p>
&ldquo;And what are they made of?&rdquo; Alice asked in a tone of great
curiosity.
</p>

<p>
&ldquo;Soles and eels, of course,&rdquo; the Gryphon replied rather
impatiently: &ldquo;any shrimp could have told you that.&rdquo;
</p>

<p>
&ldquo;If I&rsquo;d been the whiting,&rdquo; said Alice, whose thoughts were
still running on the song, &ldquo;I&rsquo;d have said to the porpoise,
&lsquo;Keep back, please: we don&rsquo;t want <i>you</i> with us!&rsquo;&rdquo;
</p>

<p>
&ldquo;They were obliged to have him with them,&rdquo; the Mock Turtle said:
&ldquo;no wise fish would go anywhere without a porpoise.&rdquo;
</p>

<p>
&ldquo;Wouldn&rsquo;t it really?&rdquo; said Alice in a tone of great surprise.
</p>

<p>
&ldquo;Of course not,&rdquo; said the Mock Turtle: &ldquo;why, if a fish came
to <i>me</i>, and told me he was going a journey, I should say &lsquo;With what
porpoise?&rsquo;&rdquo;
</p>

<p>
&ldquo;Don&rsquo;t you mean &lsquo;purpose&rsquo;?&rdquo; said Alice.
</p>

<p>
&ldquo;I mean what I say,&rdquo; the Mock Turtle replied in an offended tone.
And the Gryphon added &ldquo;Come, let&rsquo;s hear some of <i>your</i>
adventures.&rdquo;
</p>

<p>
&ldquo;I could tell you my adventures&mdash;beginning from this morning,&rdquo;
said Alice a little timidly: &ldquo;but it&rsquo;s no use going back to
yesterday, because I was a different person then.&rdquo;
</p>

<p>
&ldquo;Explain all that,&rdquo; said the Mock Turtle.
</p>

<p>
&ldquo;No, no! The adventures first,&rdquo; said the Gryphon in an impatient
tone: &ldquo;explanations take such a dreadful time.&rdquo;
</p>

<p>
So Alice began telling them her adventures from the time when she first saw the
White Rabbit. She was a little nervous about it just at first, the two
creatures got so close to her, one on each side, and opened their eyes and
mouths so <i>very</i> wide, but she gained courage as she went on. Her
listeners were perfectly quiet till she got to the part about her repeating
&ldquo;<i>You are old, Father William</i>,&rdquo; to the Caterpillar, and the
words all coming different, and then the Mock Turtle drew a long breath, and
said &ldquo;That&rsquo;s very curious.&rdquo;
</p>

<p>
&ldquo;It&rsquo;s all about as curious as it can be,&rdquo; said the Gryphon.
</p>

<p>
&ldquo;It all came different!&rdquo; the Mock Turtle repeated thoughtfully.
&ldquo;I should like to hear her try and repeat something now. Tell her to
begin.&rdquo; He looked at the Gryphon as if he thought it had some kind of
authority over Alice.
</p>

<p>
&ldquo;Stand up and repeat &lsquo;&rsquo;<i>Tis the voice of the
sluggard</i>,&rsquo;&rdquo; said the Gryphon.
</p>

<p>
&ldquo;How the creatures order one about, and make one repeat lessons!&rdquo;
thought Alice; &ldquo;I might as well be at school at once.&rdquo; However, she
got up, and began to repeat it, but her head was so full of the Lobster
Quadrille, that she hardly knew what she was saying, and the words came very
queer indeed:&mdash;
</p>

<p class="poem">
&ldquo;&rsquo;Tis the voice of the Lobster; I heard him declare,<br/>
&ldquo;You have baked me too brown, I must sugar my hair.&rdquo;<br/>
As a duck with its eyelids, so he with his nose<br/>
Trims his belt and his buttons, and turns out his toes.&rdquo;<br/>
<br/>
[later editions continued as follows<br/>
When the sands are all dry, he is gay as a lark,<br/>
And will talk in contemptuous tones of the Shark,<br/>
But, when the tide rises and sharks are around,<br/>
His voice has a timid and tremulous sound.]
</p>

<p>
&ldquo;That&rsquo;s different from what <i>I</i> used to say when I was a
child,&rdquo; said the Gryphon.
</p>

<p>
&ldquo;Well, I never heard it before,&rdquo; said the Mock Turtle; &ldquo;but
it sounds uncommon nonsense.&rdquo;
</p>

<p>
Alice said nothing; she had sat down with her face in her hands, wondering if
anything would <i>ever</i> happen in a natural way again.
</p>

<p>
&ldquo;I should like to have it explained,&rdquo; said the Mock Turtle.
</p>

<p>
&ldquo;She can&rsquo;t explain it,&rdquo; said the Gryphon hastily. &ldquo;Go
on with the next verse.&rdquo;
</p>

<p>
&ldquo;But about his toes?&rdquo; the Mock Turtle persisted. &ldquo;How
<i>could</i> he turn them out with his nose, you know?&rdquo;
</p>

<p>
&ldquo;It&rsquo;s the first position in dancing.&rdquo; Alice said; but was
dreadfully puzzled by the whole thing, and longed to change the subject.
</p>

<p>
&ldquo;Go on with the next verse,&rdquo; the Gryphon repeated impatiently:
&ldquo;it begins &lsquo;<i>I passed by his garden</i>.&rsquo;&rdquo;
</p>

<p>
Alice did not dare to disobey, though she felt sure it would all come wrong,
and she went on in a trembling voice:&mdash;
</p>

<p class="poem">
&ldquo;I passed by his garden, and marked, with one eye,<br/>
How the Owl and the Panther were sharing a pie&mdash;&rdquo;<br/>
<br/>
[later editions continued as follows<br/>
The Panther took pie-crust, and gravy, and meat,<br/>
While the Owl had the dish as its share of the treat.<br/>
When the pie was all finished, the Owl, as a boon,<br/>
Was kindly permitted to pocket the spoon:<br/>
While the Panther received knife and fork with a growl,<br/>
And concluded the banquet&mdash;]
</p>

<p>
&ldquo;What <i>is</i> the use of repeating all that stuff,&rdquo; the Mock
Turtle interrupted, &ldquo;if you don&rsquo;t explain it as you go on?
It&rsquo;s by far the most confusing thing <i>I</i> ever heard!&rdquo;
</p>

<p>
&ldquo;Yes, I think you&rsquo;d better leave off,&rdquo; said the Gryphon: and
Alice was only too glad to do so.
</p>

<p>
&ldquo;Shall we try another figure of the Lobster Quadrille?&rdquo; the Gryphon
went on. &ldquo;Or would you like the Mock Turtle to sing you a song?&rdquo;
</p>

<p>
&ldquo;Oh, a song, please, if the Mock Turtle would be so kind,&rdquo; Alice
replied, so eagerly that the Gryphon said, in a rather offended tone,
&ldquo;Hm! No accounting for tastes! Sing her &lsquo;<i>Turtle Soup</i>,&rsquo;
will you, old fellow?&rdquo;
</p>

<p>
The Mock Turtle sighed deeply, and began, in a voice sometimes choked with
sobs, to sing this:&mdash;
</p>

<p class="poem">
&ldquo;Beautiful Soup, so rich and green,<br/>
Waiting in a hot tureen!<br/>
Who for such dainties would not stoop?<br/>
Soup of the evening, beautiful Soup!<br/>
Soup of the evening, beautiful Soup!<br/>
    Beau&mdash;ootiful Soo&mdash;oop!<br/>
    Beau&mdash;ootiful Soo&mdash;oop!<br/>
Soo&mdash;oop of the e&mdash;e&mdash;evening,<br/>
    Beautiful, beautiful Soup!<br/>
<br/>
&ldquo;Beautiful Soup! Who cares for fish,<br/>
Game, or any other dish?<br/>
Who would not give all else for two p<br/>
ennyworth only of beautiful Soup?<br/>
Pennyworth only of beautiful Soup?<br/>
    Beau&mdash;ootiful Soo&mdash;oop!<br/>
    Beau&mdash;ootiful Soo&mdash;oop!<br/>
Soo&mdash;oop of the e&mdash;e&mdash;evening,<br/>
    Beautiful, beauti&mdash;FUL SOUP!&rdquo;
</p>

<p>
&ldquo;Chorus again!&rdquo; cried the Gryphon, and the Mock Turtle had just
begun to repeat it, when a cry of &ldquo;The trial&rsquo;s beginning!&rdquo;
was heard in the distance.
</p>

<p>
&ldquo;Come on!&rdquo; cried the Gryphon, and, taking Alice by the hand, it
hurried off, without waiting for the end of the song.
</p>

<p>
&ldquo;What trial is it?&rdquo; Alice panted as she ran; but the Gryphon only
answered &ldquo;Come on!&rdquo; and ran the faster, while more and more faintly
came, carried on the breeze that followed them, the melancholy words:&mdash;
</p>

<p class="poem">
&ldquo;Soo&mdash;oop of the e&mdash;e&mdash;evening,<br/>
    Beautiful, beautiful Soup!&rdquo;
</p>
  <ion-footer>
    <ion-button href="/chapter-ix" class="back-button">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button href="/chapter-xi" class="next-button" vertical="bottom" horizontal="end" >
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-footer>
</ion-content>

