<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>gutenberg</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">gutenberg</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h6>The Project Gutenberg eBook of Alice’s Adventures in Wonderland, by Lewis Carroll</h6>
  <p>This eBook is for the use of anyone anywhere in the United States and most other parts of the world at no cost and with almost no restrictions whatsoever. You may copy it, give it away or re-use it under the terms of the Project Gutenberg License included with this eBook or online at www.gutenberg.org. If you are not located in the United States, you will have to check the laws of the country where you are located before using this eBook.</p>
  <p>Title: Alice’s Adventures in Wonderland</p>
  <p>Author: Lewis Carroll</p>
  <p>Release Date: January, 1991 [eBook #11]</p>
  <p>[Most recently updated: October 12, 2020]</p>
  <p>Language: English</p>
  <p>Character set encoding: UTF-8</p>
  <p>Produced by: Arthur DiBianca and David Widger</p>
  <ion-footer>
    <ion-button href="/credits" class="back-button">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button href="/chapter-i" class="next-button" vertical="bottom" horizontal="end" >
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-footer>
</ion-content>
